

/* color scheme 
https://coolors.co/05668d-427aa1-ebf2fa-679436-a5be00


*/


h1 {
    font-size: 30px;
    color:#4aaaa5;
    text-decoration: underline;
    text-decoration-color: #4aaaa5;
}

body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/floor-tile.png)
}

.main-box {
    background-color: white;
    padding:20px;
    margin-top:10%; 
    max-width: 1000px;
}


