

/* color scheme 
https://coolors.co/05668d-427aa1-ebf2fa-679436-a5be00


*/



.container {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/floor-tile.png)
}



/* Old css */

.section {
    padding: 40px 0;
    border: 1px solid #e3e3e3;
}

body {
    background-color: #EBF2FA;
}

h2 {
    font-family: 'Knewave', cursive;
}


.h2 {
    font-family: 'Knewave', cursive;
    color: #679436;
}

h5 {
    color: #05668D;
}

p.text {
    color:#05668D;
}

.underline {
    border-bottom: 2px dotted #e3e3e3;
    padding-bottom: 5px;
}

.row.borderGrey {
    border-top: 1px solid grey;
    padding: 20px 0px;
}

.grid1 {
    display: grid;
    border: 1px #05668D solid;

    max-height: 500px;
    padding: 10px;
    grid-template: 1f 1f 1f / minmax(50px, 300px) minmax(50px, 300px) minmax(50px, 300px);

  }


}